# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code folder
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Ignore animations/frames outputs (optional)
*.mp4
*.gif
*.png

# Logs
*.log
